In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('spam.csv',encoding="ISO-8859-1")

In [5]:
df.head(2)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN

In [6]:
df.shape

(5572, 5)

In [ ]:
# 1. Data cleaning
# 2. EDA
# 3. Text Preprocessing
# 4. Model building
# 5. Evaluation
# 6. Improvement
# 7. Website
# 8. Deploy

In [ ]:
# Data cleaning

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [9]:
# hence will drop last 3 cols

df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [11]:
df.sample(3)

       v1                                                 v2
1194  ham                                      Ok... C ya...
1389  ham  Haha... Where got so fast lose weight, thk muz...
2408  ham          Dear where you will be when i reach there

In [14]:
# Renaming cols 

df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df.sample(5)

     target                                               text
3931    ham                     Sos! Any amount i can get pls.
606    spam  XCLUSIVE@CLUBSAISAI 2MOROW 28/5 SOIREE SPECIAL...
4712    ham  Big brotherÛ÷s really scraped the barrel with...
3378    ham                    Dear umma she called me now :-)
1126    ham  Not tonight mate. Catching up on some sleep. T...

In [16]:
df['target'].unique()

array(['ham', 'spam'], dtype=object)

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
df['target'] = le.fit_transform(df['target'])

In [20]:
df.sample(5)

      target                                               text
41         0  Did I forget to tell you ? I want you , I need...
2481       0                  K.:)do it at evening da:)urgent:)
4991       0                        I'm hungry buy smth home...
4584       1  U have a Secret Admirer who is looking 2 make ...
5532       0           happened here while you were adventuring

In [21]:
df.isnull().sum()

target    0
text      0
dtype: int64

In [22]:
# Checking Duplicates values 

df.duplicated().sum()

403

In [24]:
# Droping Duplicates values 

df = df.drop_duplicates(keep='first')

In [25]:
df.duplicated().sum()

0

In [26]:
df.shape

(5169, 2)

# EDA